header
        {display: inline-block;
        background-color:#782221;
        color: white;
        font-family: url("./Fonts/Lato-Bold.ttf");
        }

div
        {background-color: #782221;
        color: white;}

footer
        {display: inline-block;
        background-color: #782221;
        color: white;
        }

.image_profil
        {display: flex
        
        width: inherit 100px;
        }

.adresse
        {display: inline-block
        font-family: url ("./Fonts/Raleway-VariableFont_wght.woff");flex-direction: row;
        justify-content: space-evenly;
        background-color: #782221;
        color: white;
        }
.cadre
        {
        background-color: #782221;
        color: white
        }
.image_appel-telephonique
        {
            width: 200px;
        }